---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl02 from '../../images/gallery/gallery02.png';
---
<BasicLayout>
  <body>
    <h2>02 紫髪紫眼-図書館-幼体</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    ツインテの幼体。</p>
    <p><img src={gl02.src} alt="代理像02" width="500"/></p>
  </body>
</BasicLayout>