---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl03 from '../../images/gallery/gallery03.png';
---
<BasicLayout>
  <body>
    <h2>03 紫髪紫眼-図書館-成体</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    ローポニーテールの成体。成体とはいえティーンエージャーのつもり。</p>
    <p><img src={gl03.src} alt="代理像03" width="500"/></p>
  </body>
</BasicLayout>