---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl04 from '../../images/gallery/gallery04.png';
---
<BasicLayout>
  <body>
    <h2>04 紫髪緑眼-魔法使い-人物</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    巷では「細部の生成失敗」の証ともされている文字の崩れも、謎文字として魔法陣に組み込まれると趣が生まれる。</p>
    <p><img src={gl04.src} alt="代理像04" width="500"/></p>
  </body>
</BasicLayout>