---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl05 from '../../images/gallery/gallery05.png';
---
<BasicLayout>
  <body>
    <h2>05 紫髪緑眼-魔法使い-人物背景</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    04の続き。星があちこちに散りばめられている。</p>
    <p><img src={gl05.src} alt="代理像05" width="500"/></p>
  </body>
</BasicLayout>