---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl06 from '../../images/gallery/gallery06.png';
---
<BasicLayout>
  <body>
    <h2>06 紫髪緑眼-制服-桜-青空</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    非常にかわいらしい。</p>
    <p>ただし、星見純那さんに近づきすぎていないかが心配になるので、これをキャラクター像の中心に据えることは避けたい。</p>
    <p><img src={gl06.src} alt="代理像06" width="500"/></p>
  </body>
</BasicLayout>