---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl07 from '../../images/gallery/gallery07.png';
---
<BasicLayout>
  <body>
    <h2>07 紫髪紫眼-冬-家-読書</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    暖炉を背にして読書をしている。ローポニーテールが定着している。</p>
    <p><img src={gl07.src} alt="代理像07" width="500"/></p>
  </body>
</BasicLayout>