---
import BasicLayout from "../../layouts/BasicLayout.astro";
import gl08 from '../../images/gallery/gallery08.png';
---
<BasicLayout>
  <body>
    <h2>08 紫髪緑眼-冬-家-読書</h2>
    <p>Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。<br>
    07の目の色が緑になったバージョン。</p>
    <p><img src={gl08.src} alt="代理像08" width="500"/></p>
  </body>
</BasicLayout>