---
import BasicLayout from "../layouts/BasicLayout.astro";
---
<BasicLayout>
  <body>
    <h1>近影集</h1>
    <table border="1">
        <tr>
            <td>01</td>
            <td><a href="/gallery/gl01/">元祖(現在身元確認中。画像なし)</a></td>
        </tr>
        <tr>
            <td>02</td>
            <td><a href="/gallery/gl02/">紫髪紫眼-図書館-幼体</a></td>
        </tr>
        <tr>
            <td>03</td>
            <td><a href="/gallery/gl03/">紫髪紫眼-図書館-成体[サイトトップ]</a></td>
        </tr>
        <tr>
            <td>04</td>
            <td><a href="/gallery/gl04/">紫髪緑眼-魔法使い-人物</a></td>
        </tr>
        <tr>
            <td>05</td>
            <td><a href="/gallery/gl05/">紫髪緑眼-魔法使い-人物背景</a></td>
        </tr>
        <tr>
            <td>06</td>
            <td><a href="/gallery/gl06/">紫髪緑眼-制服-桜-青空</a></td>
        </tr>
        <tr>
            <td>07</td>
            <td><a href="/gallery/gl07/">紫髪紫眼-冬-家-読書</a></td>
        </tr>
        <tr>
            <td>08</td>
            <td><a href="/gallery/gl08/">紫髪緑眼-冬-家-読書</a></td>
        </tr>
        </table>
    </script>
  </body>
</BasicLayout>