---
import BasicLayout from "../layouts/BasicLayout.astro";
import gl03 from '../images/gallery/gallery03.png';
import miyasaka from '../images/miyasakanagi_400x400.jpg';
---


<BasicLayout>
	<body>
		<h1>About me</h1>
		<h3>> 誰？</h3>
		<a href="https://twitter.com/externalniboshi">外付け煮干</a>/<a href="https://twitter.com/composershandle">概</a><a href="https://twitter.com/GainenHandler">念</a>/<a href="https://twitter.com/norno23">Nor Neither</a>/あるいはその他の複数の名義
		<h3>> 代理近影</h3>
		[03 紫髪紫眼-図書館-成体] <br> Kai P(カイP, Twitter ID: @KaiP0213)さんに作製していただいたもの。
		<p><img src={gl03.src} alt="代理像03" width="250"/><br>
		<a href="/gallery/">その他の代理近影はこちらから</a></p>
		<h3>> 所属</h3>
			<h4>サークル<a href="https://ringo-amezaiku.booth.pm">「林檎飴細工」</a>第一編集<br></h4>
			　・同サークルで展開中の『<a href="https://cafe-hitotose.studio.site">喫茶春夏秋冬</a>』プロジェクトでの、店員『<a href="https://cafe-hitotose.studio.site/MiyasakaNagi">宮坂ナギ</a>』<a href="https://ringo-amezaiku.booth.pm/items/5888297">MYCOE</a>の声担当です。<br>（宮坂ナギ公式アカウントは<a href="https://x.com/miyasakanagi">こちら</a>）<br><a href="https://x.com/miyasakanagi"><img src={miyasaka.src} alt="宮坂ナギ" width="80"></a><br>　
			<a href="/works/#miyasakanagi">WORKS</a>ページでも少し詳細に紹介しています。
			<h4>サークル「華想団」団員（幹部）</h4>
			　・会誌への寄稿を<a href="/works/">WORKS</a>ページで紹介しています。
		<h3>>文化・製作</h3>
		<h4>動画</h4>
		<table border="1">
			<tr>
				<td>ニコニコ動画(メイン)</td>
				<td><a href="https://www.nicovideo.jp/user/57970701">外付け煮干</a></td>
			</tr>
		</table>

		<h4>文など</h4>
		<table border="1">
			<tr>
				<td>pixiv</td>
				<td><a href="https://www.pixiv.net/users/92028318">外付け煮干</a></td>
			</tr>
			<!-- 
			<tr>
				<td>pixiv（旧名義）</td>
				<td><a href="https://www.pixiv.net/users/17778454">Nor(Root17改め)</a></td>
			</tr>
		    -->
			<tr>
				<td>hatenablog</td>
				<td><a href="https://exniboshi.hatenablog.com">幻覚窟（記事なし）</a></td>
			</tr>
			<tr>
				<td>hatenablog2</td>
				<td><a href="https://composershandle.hatenadiary.com/">composershandle's blog</a></td>
			</tr>
			<tr>
				<td>GitHub</td>
				<td><a href="https://github.com/philosopherwaterhead">philosopherwaterhead</a></td>
			</tr>
			</table>
			<br>

			<h4>質問箱</h4>
			<p>軽い質問がありましたら<a href="https://docs.google.com/forms/d/e/1FAIpQLSeFOXa1bXMRzJsel4Y_T1irCH8ebTH3e7RXcgZVsbrKHoxOKQ/viewform">Gainen Balloon Form</a>まで。<br>なにかのツイートやブログで帰ってくるかもしれません。返信に時間がかかりますので、あまり期待しないでください。</p>

			<br>
	</body>
</BasicLayout>
