---
import BasicLayout from "../layouts/BasicLayout.astro";
import roadmap from '../images/map.jpg';
---
<BasicLayout>
  <body>
    <h2>数理</h2>
    数理に関するおぼえがき。
    <p><img src={roadmap.src} alt="やりたいことの地図" width="500"/></p>
    <ul>
      <li>sm01 <a href="/posts/sm01/">Bertrandの定理の証明概略</a></li>
      <li>sm02 <a href="/posts/sm02/">正規直交基底に関する備忘録</a></li>
      <li>sm03 測地線方程式とオイラー・ラグランジュ方程式（工事中）</li>
        <ul>
          <li>sm03-1 <a href="/posts/sm03-1/">解析力学とオイラー・ラグランジュ方程式（これからの指針）</a></li>
          <li>sm03-2 一般相対性理論</li>
            <ul>
              <li>sm03-2-0 一般相対性理論のモチベーション</li>
              <li>sm03-2-1 本稿に必要なリーマン幾何学</li>
              <li>sm03-2-2 測地線・測地線方程式</li>
              <li>sm03-2-3 アインシュタインの重力方程式</li>
              <li>sm03-2-4 アインシュタイン方程式の解（運動）</li>
              <li>sm03-2-5 おまけ：アインシュタイン方程式の解（重力波）</li>
              <li>sm03-2-6 おまけ２：and beyond（修正重力理論）</li>
            </ul>
          <li>sm03-3 Schwarzschild時空とJacobi場・共役点</li>
            <ul>
              <li>sm03-3-1 Jacobi方程式</li>
              <li>sm03-3-2 固有時汎関数の一次変分</li>
              <li>sm03-3-3 <a href="/posts/sm03-3-3/">固有時汎関数の二次変分・Index form</a></li>
              <li>sm03-3-4 共役点以後の固有時(局所)最大性の破れ</li>
              <li>sm03-3-5 共役点以前の固有時(局所)最大化定理</li>
              <li>sm03-3-6 cut point
              <li>sm03-3-7 Schwarzschild時空への応用</li>
            </ul> 
          <li>sm03-4 おまけの補足：線形化と自己共役作用素</li>
            <ul>
              <li>sm03-4-1 線形微分作用素・関数空間・固有値</li>
              <li>sm03-4-2 自己共役作用素・Sturm-Liouville問題</li>
              <li>sm03-4-3 曲率作用素・Cartan幾何</li>
              <li>sm03-4-4 LIGOへの応用</li>
            </ul>
        </ul>
      <li>sm04 ゆかきりRSA01（工事中） </li>
      <li>sm05 ゆかきり特殊相対論01（工事中） </li>
    </ul>
  </body>
</BasicLayout>