---
import BasicLayout from "../layouts/BasicLayout.astro";
import roadmap from '../images/map.jpg';
---
<BasicLayout>
  <body>
    <h2>数理</h2>
    数理に関するおぼえがき。
    <p><img src={roadmap.src} alt="やりたいことの地図" width="500"/></p>
    <ul>
      <li>sm01 <a href="/posts/sm01/">Bertrandの定理の証明概略</a></li>
      <li>sm02 <a href="/posts/sm02/">正規直交基底に関する備忘録</a></li>
      <li>sm03 測地線方程式とオイラー・ラグランジュ方程式（工事中）</li>
      <li>sm04 ゆかきりRSA01（工事中） </li>
      <li>sm05 ゆかきり特殊相対論01（工事中） </li>
    </ul>
  </body>
</BasicLayout>