---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <body>

    <h1>WORKS</h1>

    寄稿・創作作品棟の掲示場所。工事中。

    <h2>寄稿</h2>
    <h3>High-Sky-Fields</h3>
    <p>サークル「華想団」の会報vol.2(創作編)に寄稿。<br>軌道エレベーター「きざはし」がそびえる、そのふもとの人工島「中ノ島」の少女たちについて。本文は22ページある。</p>
    <table border="1">
      <tr>
        <td><a href="High-Sky-Fields.pdf" download>PDFダウンロード(1.03MB)</a></td>
        <td><a href="manuscript.html">いますぐHTML版で読む</a></td>
      </tr>
    </table>

    <h4>High-Sky-Fields執筆後記つき版</h4>
    <p>本文は上と同じで、執筆後記が8ページある。執筆後記には、参考資料などや、執筆にあたって宇宙エレベータに関してまとめたものなどが書いてある。</p>
    <table border="1">
      <tr>
        <td><a href="High-Sky-Fields-additional.pdf" download>PDFダウンロード(2.26MB)</a></td>
        <td><a href="manuscript-additional.html">いますぐHTML版で読む</a></td>
      </tr>
    </table>

    <h4>High-Sky-Fields設定資料</h4>
    <p>本文の背景である設定資料。こういうのを読むのが好きな人も居るかもしれない。</p>
    <table border="1">
      <tr>
        <td><a href="shiryou.html">いますぐHTML版で読む</a></td>
      </tr>
    </table>

    <br>
    <br>
    <br>

    <hr>

    <h4>◆High-Sky-Fieldsの二次創作等を行いたい方へ</h4>
    <small>   
      <p><b>High-Sky-Fieldsは「GainenHandler」による一次創作です。ライセンスは<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ja">CC BY-SA 4.0(表示-継承 4.0 国際)</a>に基づき、この作品の共有・翻案が自由に認められます。原作者クレジットの記載を求め、あなたが改変を行った際はその作品に同じライセンスの継承が行われることを求めます。</b></p>
      <p>二次創作を行いたいのであれば、あなたのイラストや小説やその他諸々の端に<b>「原作: High-Sky-Fields  原著: GainenHandler  ライセンス: CC BY-SA 4.0」</b>とでも書いておけばよいです。</p>
      <p>もしTwitter上でなら<a href="https://x.com/GainenHandler/status/1911739284156985351">広報ツイート</a>やわたしのTwitterアカウント(@GainenHandler)へのリンクを付けてもらえたりするとなおありがたいですが、必須ではありません。</p>
    </small>
 

  </body>
</BasicLayout>