---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout>
  <body>

    <h1>WORKS</h1>

    寄稿・創作作品棟の掲示場所。工事中。

    <h2>寄稿</h2>
    <h3>High-Sky-Fields</h3>
    <p>サークル「華想団」の会報vol.2(創作編)に寄稿。<br>軌道エレベーター「きざはし」がそびえる、そのふもとの人工島「中ノ島」の少女たちについて。本文は22ページある。</p>
    <table border="1">
      <tr>
        <td><a href="/High-Sky-Fields.pdf" download>見開きPDFダウンロード(1.03MB)</a></td>
        <td>いますぐXHTML版で読む(工事中)</td>
      </tr>
    </table>

    <h4>High-Sky-Fields執筆後記つき版</h4>
    <p>執筆後記が8ページある。執筆後記には、参考資料などや、執筆にあたって宇宙エレベータに関してまとめたものなどが書いてある。</p>
    <table border="1">
      <tr>
        <td><a href="/High-Sky-Fields-additional.pdf" download>見開きPDFダウンロード(2.26MB)</a></td>
        <td>いますぐXHTML版で読む(工事中)</td>
      </tr>
    </table>

  </body>
</BasicLayout>