---
import "../styles/global.css"
---
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/svg.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Comph-notes</title>
        <style>
            body {
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                background-color: aliceblue;
                color: #333;
            }              

            nav {
                list-style: none;
                overflow: hidden;
                display: grid;
                grid-auto-flow: column; /* 横並びにする */
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 均等幅 */
                gap: 1rem;
                padding: 1rem;
                background: #f0f0f0;
                }

            nav li{
                width: 140px;
                text-align: center;
                background-color: #8ebef2;
                float: left;
                height: 30px;
                line-height: 30px;
                margin-right: 2px;
            }
            nav li a{
                text-decoration: none;
                color: #000
            }
            hr{
                border: none;
                border-bottom: 1px solid #333;
                margin: 0;
            }
            span.yukari{
                color:purple
            }
            span.kiritan{
                color:orange
            }

        </style>
	</head>
    <body>
        <nav>
            <!-- <a href="/">サイトトップ</a></li>
            <li><a href="/smtop/">数理</a></li>
            <li><a href="/lawstop/">法集</a></li> -->
            <a href="/">▲TOP</a>
            <a href="/works/">WORKS</a>
            <a href="/smtop/">数理</a>
            <a href="/lawstop/">法集</a>
            <a href="/obsidiantop/">日記</a>
            <a href="/gallery/">代理近影</a>
            <a href="/sinchoku/">進捗</a>
        </nav>

        <slot /><!-- ここにコンテンツが挿入されます -->

        <footer>
            <hr>
            <small>
                <p>外付け煮干　<a href="https://github.com/philosopherwaterhead/comphand">GitHub</a></p>
                <!-- 
                    <a href="https://httpclock.yr32.net/">
                        <img src="https://httpclock.yr32.net/banner.gif" alt="HTTP Clock" style="image-rendering: pixelated; image-rendering: crisp-edges;" width="10%" height="10%">
                    </a>
                </p> 
                -->
            </small>
        </footer>
    </body>

</html>